global.config = {

	logErrors: false,
	
	botLogin: '______',
	botOAuth: '______',
	botChannels: ['#_____', '#____'],

	twitchHost: 'irc.chat.twitch.tv',
	twitchPort: 6667
};

global.messageFilter = {

	bannedWords: [

		"_____",
		"_____"
	],
	
	timeout: 1
};

global.staticCommands = {

	'command': 'response',
	'command': 'response'
};