exports.config = {

	logErrors: false,
	
	botLogin: '______',
	botOAuth: '______',
	botChannel: '#______',

	twitchHost: 'irc.chat.twitch.tv',
	twitchPort: 6667
};

exports.bannedWords = [

	"____",
	"____"
]