exports.config = {
	
	botLogin: 'tajnyszpieg',
	botOAuth: 'oauth:qq5gez7pfl42kb1fhmtrlxfil2ju0x',
	botChannel: '#wikipiciu',

	twitchHost: 'irc.chat.twitch.tv',
	twitchPort: 6667
};

exports.bannedWords = [

	"____",
	"____"
]